services:
  db:
    image: postgres:18.1
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: ecommerce
      POSTGRES_USER: hello
      POSTGRES_PASSWORD: world
    volumes:
      - postgresql_data:/var/lib/postgresql
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

volumes:
  postgresql_data:
    driver: local
